@charset "uft-8";
*{
	text-decoration: none;
	
}
.hv :hover{
	color: black ;
}
.ShadowHover :hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}

.bghover {
	background-color:  white ;
}

.bghover:hover{
	background-color: #edeff4
}
.bghoverW {
	background-color:  #f6f7fb; 
	transition-duration: 0.5s;
}

.bghoverW:hover{
	background-color: #d5d6d9;
	transition-duration: 0.5s;
}